.main {
    &>.list_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &>.list_item {
            width: 70%;

            &>.loading_message {
                font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
                font-size: 30px;
                text-align: center;
            }

            &>.error_message {
                font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
                font-size: 30px;
                text-align: center;
                color: red;
            }
        }
    }
}